<?xml version="1.0" encoding="UTF-8"?>

<div>
    <h2>Name Registration!</h2>

    <form id="reg" ng-submit="register()">
        <h2>Name Registration</h2>
        <fieldset>
            <legend>Register a name:</legend>
            <!-- Each input is bound to a property on the prototype newPerson object -->
            <div>
                <label for="firstName">First:</label>
                <input type="text" name="firstName" id="firstName"  ng-model="newPerson.firstName" placeholder="Your First Name" required autofocus/>
                <span class="error" ng-show="errors.firstName">{{errors.firstName}}</span>
            </div>
            <div>
                <label for="lastName">Last:</label>
                <input type="text" name="lastName" id="lastName"  ng-model="newPerson.lastName" placeholder="Your Last Name" />
                <span class="error" ng-show="errors.lastName">{{errors.lastName}}</span>
            </div>
            <div>
                <label for="country">country:</label>
                <input type="country" name="country" id="country" ng-model="newPerson.country" placeholder="Your country"/>
                <span class="error" ng-show="errors.country">{{errors.country}}</span>
            </div>
            <div>
                <label for="ipAddress">IP:</label>
                <input type="text" name="ipAddress" id="ipAddress" ng-model="newPerson.ipAddress"" placeholder="Your IP Address" />
                <span class="error" ng-show="errors.ipAddress">{{errors.ipAddress}}</span>
            </div>

            <!-- We output a list of success messages (appropriately styled!) for the form. -->
            <ul ng-hide="!successMessages" class="success">
                <li ng-repeat="message in successMessages">{{message}}</li>
            </ul>

            <!-- Output the list of error messages if any. -->
            <ul ng-hide="!errorMessages" class="error">
                <li ng-repeat="message in errorMessages">{{message}}</li>
            </ul>

            <!-- There are two buttons, the default submit action (which is bound for the whole form), and a reset button, that clears the form. -->
            <div>
                <input type="submit" id="register" value="Add" />
                <input type="button" ng-click="reset()" name="cancel" id="cancel" value="Cancel" />
            </div>
        </fieldset>
    </form>
    
    <!-- Names Report -->
    <h2>Report</h2>
    <div>
        <input type="button" ng-click="viewReport()" name="report" id="report" value="Report" />
    </div> 

    <!-- A list of registered names -->
    <h2>Names</h2>
    <em ng-show="persons.length == 0">No registered person.</em>
    <table ng-hide="persons.length == 0" class="simpletablestyle">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>country</th>
                <th>IP Address</th>
            </tr>
        </thead>
        <tr ng-repeat="person in persons | orderBy:orderBy">
            <td>{{person.id}}</td>
            <td>{{person.firstName}}</td>
            <td>{{person.lastName}}</td>
            <td>{{person.country}}</td>
            <td>{{person.ipAddress}}</td>
            <td><a ng-click="deletePerson(person.id)">Delete</a></td>
            <td><a ng-click="editPerson(person.id)">Update</a></td> 
          
    </table>

</div>
