<?xml version="1.0" encoding="UTF-8"?>

<div>
    <h2>Name Registration!</h2>
 
    <form id="reg" ng-submit="register()">
        <h2>Update Registration</h2>
        <fieldset>
            <legend>Update a name registration:</legend>
            <!-- Each input is bound to a property on the prototype person object -->
            <div>
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" id="firstName"  ng-model="person.firstName" placeholder="Your First Name" required autofocus/>
                <span class="error" ng-show="errors.firstName">{{errors.firstName}}</span>
            </div>
            <div>
                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName" id="lastName"  ng-model="person.lastName" placeholder="Your Last Name"/>
                <span class="error" ng-show="errors.lastName">{{errors.lastName}}</span>
            </div>
            <div>
                <label for="country">country:</label>
                <input type="country" name="country" id="country" ng-model="person.country" placeholder="Your country" required/>
                <span class="error" ng-show="errors.country">{{errors.country}}</span>
            </div>
            <div>
                <label for="ipAddress">IP:</label>
                <input type="text" name="ipAddress" id="ipAddress" ng-model="person.ipAddress" placeholder="Your IP Address" />
                <span class="error" ng-show="errors.ipAddress">{{errors.ipAddress}}</span>
            </div>

            <!-- We output a list of success messages for the form. -->
            <ul ng-hide="!successMessages" class="success">
                <li ng-repeat="message in successMessages">{{message}}</li>
            </ul>

            <!-- Output the list of error messages if any. -->
            <ul ng-hide="!errorMessages" class="error">
                <li ng-repeat="message in errorMessages">{{message}}</li>
            </ul>

            <div>
                <input type="button" ng-click="updatePerson(person.id)" name="update" id="update" value="Update" />
                <input type="button" ng-click="cancelUpdate()" name="cancel" id="cancel" value="Cancel" />
                
            </div>
        </fieldset>
    </form>
</div>
